
<div style="width:450px;height:450px;" class="mx-auto" >
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="imgcontainer">
      <img src="assets/admin photo.jpg" alt="Avatar" class="avatar" >
    </div>
  
    <div class="container">
      <label for="uEmail"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" formControlName="email" name="uEmail" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="password" name="psw" required>
          
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)='goback()'>Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  
</div>