<div class="container-fluid">
    <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header" class="bg-info">
                <i class="fas fa-grip-horizontal" style="color:black;font-size:1.5em"></i>
                
              Add Category</div>
            <div class="card-body">
              <div class="table-responsive">
                  <form class="justify-content-md-center">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Category Name</label>
                        <input type="text" class="form-control"  placeholder="Category Name">
                      </div>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </form>
              </div>
            </div>
          </div>

        </div>
