<div class="card mb-3">
    <div class="card-header" class="bg-info">
        <i class="fas fa-grip-horizontal" style="color:black;font-size:1.5em"></i>
      Categories</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Category Name</th>
              <th colspan="2">Options</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Product Name</th>
                <th colspan="2">Options</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td>
                  <a href="#" class="btn btn-danger" style="text-decoration:none">Edit</a>
              </td>
              <td>
                  <a href="#" class="btn btn-primary" style="text-decoration:none">Delete</a>
               </td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>
                    <a href="#" class="btn btn-danger" style="text-decoration:none">Edit</a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" style="text-decoration:none">Delete</a>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>